{% extends 'pages/index.html' %}
{% load static %}
{% block content %}
<section class="home" id="home">
    <div class="row">

    <div class="content">
    <h1>TECH-CITE</h1>
    <h3>"Empowering Dreams, Connecting Futures: Your IT Hub for Innovation and Growth."</h3>
    <p>Newbie IT students, if you're chasing your dream to be a pro, don't hesitate to seek help and <br> find companions along the way. Together, you'll make those IT dreams a reality!</p>
    </div>

    <div class="image">
        <img src="{% static '/images/background.png' %}">
    </div>
    </div>
</section>


<section class="work">
    <h1 class="heading">Professions of IT</h1>
    <h3 class="title">Join us to embark your IT journey and become a skilled programmer</h3>

    <div class="row">
        <div class="about-image">
            <img src="{% static '/images/about.png' %}">
        </div>
        <div class="content">
            <h3>What is TECH-CITE?</h3>
            <p>Tech-Cite is a dedicated online platform tailored for aspiring IT students, offering valuable guidance to help them navigate the exciting journey towards realizing their dreams in the dynamic field of Information Technology. Serving as a comprehensive resource, Tech-Cite functions as both a guide and a stepping stone, providing essential information and resources to support students in meeting the requirements of the ever-evolving IT landscape. <br>
            <br> Tech-Cite facilitates practical learning by offering insights and experiences shared by seasoned IT professionals and fellow IT students. Students can gain valuable perspectives on the industry, learn about best practices, and understand the diverse career paths available within the IT domain. <br>Padayon future IT endeavors and may all your aspirations as an IT professional materialize into reality.  </p>
        </div>
    </div>
</section>

<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>
{% endblock %}
