{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style1.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<header>
    <a class="logo" href="{% url 'index' %}"><img src="{% static '/images/logo.png' %}"></a>

    <nav class="navbar">
        <ul>
            <li><a href="{% url 'index' %}" class="active">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
    </nav>
    <i class="fas fa-bars"></i>
</header>
<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>